<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dzonny.VSLangProj.Shared" version="0.1.1.0-pre" targetFramework="net461" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Composition" version="15.0.16-pre" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="15.0.183-pre" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK" version="15.0.183-pre" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.ProjectSystem.SDK.Tools" version="15.0.183-pre" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.1.25" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.20-pre" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.11-pre" targetFramework="net452" />
  <package id="System.Collections" version="4.0.10" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.38-beta-23516" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net461" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading" version="4.0.10" targetFramework="net461" />
  <package id="Tools.Main" version="1.5.4.50001" targetFramework="net461" />
</packages>